// Section Hero
section#hero {
	width: 100%;
	padding: 150px 0px 100px 0px;
	color: $white;
	background-position: center;
	background-size: cover;
	text-align: center;
	border-bottom: 1px solid #d5d1ca;
	.title {
		font-size: 35px;
		margin-bottom: 20px;
	}
	.subtitle {
		font-size: 22px;
		margin: 5px;
	}
	.text {
		font-size: 12px;
	}
	.btn-usafact {
		margin-top: 55px;
	}
}

// Section Clients
section#clients {
	width: 100%;
	background-color: $white;
	padding: 45px 0px 70px 0px;
	text-align: center;
	.container-flex {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		.client {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			img {
				width: inherit;
				height: 80px;
			}
		}
	}
}

// Section services
section#services {
	width: 100%;
	.container-flex {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		.container-item {
			width: 100%;
			padding: 0px 15px;
			color: $white;
			min-height: 250px;
			max-height: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			background-position: 0px 20px;
			-webkit-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;
			.item { 
				h3.title-item {
					font-size: 25px;
				}
				.line {
					width: 192px;
					height: 1px;
					background-color: $white;
					margin-top: 9px;
					margin-bottom: 13px;
				}
				a.link-item {
					font-size: 18px;
					color: $white;
				}
				p.text-item {
					font-size: 15px;					
					margin-bottom: 20px;
				}	
			}
			&:nth-child(1), &:nth-child(5) {
				background-color: $skyblue;
			}
			&:nth-child(2), &:nth-child(4) {
				background-color: #eaeaea;
				color: $darken;
				.line {
					background-color: $darken;
				}
				a.link-item {
					color: $darken;
				}
			}
			&:nth-child(3), &:nth-child(6) {
				background-color: $blue;
			}
		}
	}
}

#blog-posts {
	width: 100%;
	text-align: center;
	padding: 70px 0px;
	a {
		.thumbnail {
			width: 100%;
			padding-bottom: 75%;
			background-position: center;
			-webkit-background-size: cover;
			background-size: cover;
		}
	}
}

// articles

.article-container {
	text-align: left;
	margin-top: 35px;
	.title-article {
		font-size: 18px;
		color: $blue;
		margin-top: 20px;
	}
	.excerpt-article {
		font-size: 12px;
		color: $darken;
		margin-bottom: 10px;
	}
	.link-article {
		font-size: 14px;
		color: $skyblue;
	}
}
