footer {
	width: 100%;
	background-color: $blue;
	.footer-top {
		width: 100%;
		text-align: center;
		padding: 58px 00px;
		color: $white;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			font-size: 36px;
		}
		.btn-usafact {
			font-size: 28px;
			background-color: $skyblue;
			color: $white;
			padding: 12px 35px;
			border: none;
			border-radius: 15px;
			margin-top: 45px;
			svg {
				margin-left: 10px;
			}
		}
	}
	.footer-main {
		width: 100%;
		padding: 0px 0px 50px 0px;
		background-position: right bottom;
		background-repeat: no-repeat;
		h3 {
			margin-top: 45px;
			font-size: 32px;
			color: $white;
		}
		a {
			color: $white;
			font-size: 18px;
			margin-bottom: 5px;
			display: block;
		}
		img {
			width: 250px;
			margin-top: 45px;
			margin-bottom: 50px;
		}
	}
	.footer-bottom {
		background-color: #003f86;
		color: $white;
		font-size: 15px;
		padding: 20px 0px;
		p {
			margin: 0px;
		}
		a {
			color: $white;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	footer {
		.footer-top {
			h2 {
				font-size: 40px;
			}
			.btn-usafact {
				font-size: 34px;
				padding: 12px 65px;
			}
		}
		.footer-main {
			h3 {
				margin-top: 45px;
				font-size: 42px;
			}
			a {
				color: $white;
				font-size: 24px;
				margin-bottom: 5px;
				display: block;
			}
			img {
				width: inherit;
			    height: 237px;
			    margin-top: 45px;
			    margin-bottom: 50px;
			}
		}
		.footer-bottom {
			font-size: 18px;
			padding: 20px 0px;
		}
	}
}

@include media-breakpoint-up(sm) {
	footer {
		.footer-top {
			h2 {
				font-size: 50px;
			}
		}
		.footer-main {
			h3 {
				font-size: 30px;
			}
			a {
				font-size: 16px;
			}
			img {
				height: 200px;
			}
		}
		.footer-bottom {
			font-size: 16px;
			padding: 25px 0px;
		}
	}
}