footer {
	width: 100%;
	background-color: $blue;
	.footer-top {
		width: 100%;
		text-align: center;
		padding: 58px 00px;
		color: $white;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			font-size: get-size(map45);
			padding: 0px 10px;
			text-shadow: 2px 2px 2px $darken; 
		}
	}
	.footer-main {
		width: 100%;
		padding: 0px 0px 50px 0px;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		@include media-breakpoint-up(md) {
			background-position: 100% 125%;
		}
		@include media-breakpoint-up(lg) {
			background-position: 100% -100%;
		}
		h3 {
			padding-top: 45px;
			font-size: 26px;
			color: $white;
		}
		a {
			color: $white;
			font-size: 12px;
			padding-bottom: 5px;
			display: block;
			&:hover {
				text-decoration: underline !important;
			}
		}
		img {
			width: 200px;
			padding-top: 45px;
			padding-bottom: 30px;
		}
	}
	.footer-bottom {
		background-color: #003f86;
		color: $white;
		font-size: 12px;
		padding: 20px 0px;
		p {
			margin: 0px;
		}
		a {
			color: $white;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}