// wraps the logo container and nav container
.header__wrap {
  @include media-breakpoint-up(md) { // when nav is not collapsed
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// wraps the logo itself and the nav toggle
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  &::before,
  &::after {
    display: none;
  }
}